JAEGER_GRPC_RECEIVER_ENDPOINT="0.0.0.0:14250"
JAEGER_THRIFT_COMPACT_RECEIVER_ENDPOINT="0.0.0.0:6831"
JAEGER_THRIFT_HTTP_RECEIVER_ENDPOINT="0.0.0.0:14268"
SFX_EXPORTER_ACCESS_TOKEN=abc123
SFX_EXPORTER_ENDPOINT=https://ingest.us1.signalfx.com/v2/trace
PPROF_EXTENSION_ENDPOINT=0.0.0.0:1777
ZPAGES_EXTENSION_ENDPOINT=0.0.0.0:55679